{% extends "learn/layout.html" %} {% load staticfiles %}
<!-- Main Section -->
{% block content %}
<div class="card">
  <div class="card-body">
    <h1>{{ user.username }}</h1>
    <h1>{{ user.email }}</h1>
  </div>
</div>
{% endblock content %}

<!-- Profile Section -->
{% block sidecontent %}
<div class="card" style="width: 400px">
  <img src="{{ user.profile.image.url }}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">@{{ user.username }}</h5>
    <p class="card-text">{{ user.get_full_name }}</p>
  </div>
</div>
{% endblock sidecontent %}
