{% load humanize %}
<div class="container-fluid text-center mb-3">
  <div class="card shadow p-0">
    <img
      src="{{ user.profile.image.url }}"
      class="rounded-circle mx-auto d-block mt-3"
      width="150"
      height="150"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">{{ user.get_full_name }}</h5>
      {% if user.is_staff %}
      <p class="badge bg-primary">Teacher</p>
      {% else %}
      <p class="badge bg-secondary">Student</p>
      {% endif %}
      {%if user.id == request.user.id %}
        <p class="text-muted">
          <button
            type="button"
            class="btn btn-outline-primary"
            onclick="location.href='{% url 'profile'  %}'"
          >
            View Profile
          </button>
        </p>
      {% endif %}
      <p class="card-text">
        <small class="text-muted"
          >Latest logged in {{user.last_login | timesince }} ago
          </small
        >
      </p>
    </div>
  </div>
</div>
