{% extends "learn/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
<!-- Main Section -->
{% block content %}
<div class="container-fluid">
  {% if user.is_staff %}
    <h1 class="display-6">Student Record</h1>
    {% include "learn/teacher/student-record.html" %}  
  {% else %}
    <h1 class="display-6">Score Card</h1>
    {% include "learn/student/score-card.html" %}  
  {% endif %}
</div>

{% endblock content %}

<!-- Profile Section -->
{% block sidecontent %}
<div class="container-fluid text-center mb-3">
  <form method="POST" enctype="multipart/form-data">
    <div class="card shadow p-0">
      <img
        src="{{ user.profile.image.url }}"
        class="rounded-circle mx-auto d-block mt-3"
        width="150"
        height="150"
        alt="..."
      />

      <div class="card-body">
        <h5 class="card-title">{{ user.get_full_name }}</h5>
        {% if user.is_staff %}
        <p class="badge bg-primary">Teacher</p>
        {% else %}
        <p class="badge bg-secondary">Student</p>
        {% endif %}
        <p class="card-text">
          <small class="text-muted"
            >Latest logged in {{user.last_login | timesince }} ago
          </small>
        </p>
          {% csrf_token %}
          {{ u_form.non_field_errors }}
          {{ p_form.non_field_errors }}

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm-username">Username</span>
            {{ u_form.username }}
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm-fname">First Name</span>
            {{ u_form.first_name }}
          </div>          
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm-lname">Last Name</span>
            {{ u_form.last_name }}
          </div>
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm-email">Email</span>
            {{ u_form.email }}
          </div>          
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            {{ p_form.image }}
          </div>
      </div>
      <div class="modal-footer">
          <div class="d-grid gap-2 btn-group">
              <button
                class="btn btn-primary"
                type="submit"
              > Update
            </button>
          </div>
        </div>
    </div>
  </form>
</div>
{% endblock sidecontent %}
