{% extends "learn/layout.html" %} {% load staticfiles %} {% load humanize %}
{%block content %}
  <div class="container-fluid">
    <div class="row p-0">
      <h1 class="display-6">Subjects</h1>
      {% if subjects %}
        {% for subject in subjects %}
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 m-0">
          <div class="card shadow mx-2 my-2">
            <img
              src="{{ subject.image.url }}"
              width="200"
              height="200"
              class="card-img-top"
              alt="..."
            />
            <div
              class="card-body"
              data-toggle="tooltip"
              data-placement="top"
              title="{{ subject.description }}"
            >
              <h5 class="card-title text-truncate">{{ subject.subject }}</h5>
              <small>{{ subject.teacher.get_full_name }}</small>
              <p class="card-text text-muted text-truncate">
                <small>{{ subject.description }}</small>
              </p>
              <p class="card-text text-muted">
                <small>Started {{subject.timestamp | naturaltime }}</small>
              </p>
            </div>
            <div class="card-footer d-grid gap-2">
              <button
                class="btn btn-primary"
                type="button"
                onclick="location.href='{% url 'view-subject-teacher' subject.id %}'"
              >
                Visit
              </button>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <p class="text-muted">No assigned subject</p>
      {% endif %}

    </div>
  </div>
{% endblock content %} 
{% block sidecontent %} 
  {% include "learn/common/profile-section.html" %} 
{% endblock sidecontent %}
