{% extends "learn/layout.html" %}{% load crispy_forms_tags %}{% load humanize %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
  <!-- For modules -->
  <div class="row p-0">
    <h1 class="display-6">Modules</h1>
    {% if files %}
      {% for file in files %}
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 m-0">
          <div class="card shadow mx-2 mb-2">
            <div
              class="card-body"
              data-toggle="tooltip"
              data-placement="top"
              title="{{file.title}}"
            >
              <h5 class="card-title text-truncate">{{file.title}}</h5>
              <p class="card-text text-muted text-truncate">
                <small>{{file.description}}</small>
              </p>
              <p class="card-text text-muted">
                <small>Uploaded {{file.timestamp | naturaltime }}</small>
              </p>
            </div>
            <div class="card-footer">
              <div class="d-grid gap-2 d-md-block text-end">
                <button
                  class="btn btn-outline-danger btn-sm"
                  type="button"
                  onclick="location.href='{% url 'remove-file' file.id %}'"
                >
                  Delete
                </button>
                <button
                  class="btn btn-outline-primary btn-sm"
                  type="button"
                  onclick="location.href='{% url 'downloadfile' file.file %}'"
                >
                  Download
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}  
    {% else %}
    <small class="text-muted">No modules</small>
    {% endif %}

  
  </div>
  <!-- For activities -->
  <div class="row p-0">
    <h1 class="display-6">Activities</h1>
    {% if activities %}
      {% for activity in activities %}
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 m-0">
          <div class="card shadow mx-2 my-2">
            <div
              class="card-body"
              data-toggle="tooltip"
              data-placement="top"
              title="{{file.title}}"
            >
              <h5 class="card-title text-truncate">{{activity.title}}</h5>
              <p class="card-text text-muted text-truncate">
                <small>{{activity.description}}</small>
              </p>
              <p class="card-text text-muted">
                <small>Uploaded {{activity.timestamp | naturaltime }}</small>
              </p>
            </div>
            <div class="card-footer">
              <div class="d-grid gap-2 d-md-block text-end">
                <button
                  class="btn btn-outline-danger btn-sm"
                  type="button"
                  onclick="location.href='{% url 'remove-file' file.id %}'"
                >
                  Delete
                </button>
                <button
                  class="btn btn-outline-primary btn-sm"
                  type="button"
                  onclick="location.href='{% url 'downloadfile' file.file %}'"
                >
                  Download
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}  
    {% else %}
    <small class="text-muted">No activities</small>
    {% endif %}
  </div>
</div>
{% endblock content %}


<!-- Subject Information -->
{% block sidecontent %}
<div class="container-fluid text-center mb-3">
  <div class="card shadow p-0"">
    <img src="{{ subject.image.url }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ subject.subject }}</h5>
      <p class="card-text">
        {{ subject.description }}
      </p>      
      <p class="card-text">
      {{ subject.teacher.get_full_name }}      
      </p>
            <div class="d-grid gap-2 btn-group">
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#modal-upload"
          type="button"
        >
          Upload Module
        </button>
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#modal-activity"
          type="button"
        >
          Create activity
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Upload module -->
<div class="modal fade" id="modal-upload">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Upload a file</h4>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          {{ form.non_field_errors }}
          <div class="mb-3">
            {{ form.subject.errors }}
            <label for="subject" class="form-label"> Subject </label>
            {{ form.subject }}
          </div>
          <div class="mb-3">
            {{ form.title.errors }}
            <label for="title" class="form-label"> Title </label>
            {{ form.title }}
          </div>
          <div class="mb-3">
            {{ form.description.errors }}
            <label for="description" class="form-label"> Description </label>
            {{ form.description }}
          </div>
          <div class="mb-3">
            {{ form.file.errors }}
            <label for="file" class="form-label"> File </label>
            {{ form.file }}
          </div>
          <div class="mb-3">
            {{ form.teacher.errors }}
            <label for="teacher" class="form-label"> Teacher </label>
            {{ form.teacher }}
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            onclick="location.href='{% url 'view-subject-teacher' subject.id %}'"
            name="FileUpload"
          >
            Upload
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- The Modal Activity -->
<div class="modal fade" id="modal-activity">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create an Activity</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-floating mt-3 mb-3">
          <input
            type="text"
            class="form-control"
            id="category"
            placeholder="Enter category"
            name="Subject"
            value="{{subject.subject}}"
            data-bs-toggle="tooltip"
            title="Automatically set to the current subject."
            disabled
          />
          <label for="category">Subject</label>
        </div>
        <div class="form-floating mt-3 mb-3">
          <input
            type="text"
            class="form-control"
            id="category"
            placeholder="Enter category"
            name="category"
            value="{{subject.teacher.get_full_name}}"
            data-bs-toggle="tooltip"
            title="Automatically set to the current teacher."
            disabled
          />
          <label for="category">Teacher</label>
        </div>
        <div class="form-floating mt-3 mb-3">
          <select class="form-select" id="testType" name="testType">
            <option>Question and Answer</option>
            <option>Multiple Choice</option>
          </select>
          <label for="sel1" class="form-label">Select type</label>
        </div>

        <div class="form-floating mt-3 mb-3">
          <input
            type="text"
            class="form-control"
            id="question"
            placeholder="Enter question"
            name="question"
            required
          />
          <label for="question">Title</label>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="location.href='{% url 'create-activity' %}'"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock sidecontent %}
<!-- Subject Information -->
