{% load custom_tags %}
<div class="card shadow p-3">
    <div class="table-responsive">
        <table class="table table-striped">
        <caption>Note: NA means the teacher needs to evaluate your answer first and grade it.</caption>
        <thead>
            <tr>
            <th scope="col">Subject</th>
            <th scope="col">Adviser</th>
            <th scope="col">Activity</th>
            <th scope="col">Type</th>
            <th scope="col">Score</th>
            <th scope="col">Rating</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for score in scores|dictsort:"activity.subject.subject"%}
            <tr>
            <th scope="row">{{score.activity.subject}}</th>
            <td>{{score.activity.teacher.get_full_name}}</td>
            <td>{{score.activity.title}}</td>
            <td>
                {% if  score.activity.is_multiple_choice %}
                    <span class="badge rounded-pill bg-info text-dark">Multiple Choice</span>
                {% else %}
                    <span class="badge rounded-pill bg-primary">Question and Answer</span>
                {% endif %}
            </td>
            <td>{% if score.score|null_checker == "NA" %}
                    NA
                {% else %}
                    {% if score.score %}{{score.score}}% {% else %} 0% {% endif %}
                {% endif %}
            </td>
            <td>{% if  score.activity.is_multiple_choice %}
                    {{score.score | rating:score.total}}%</td>
                {% else %}
                    {{score.score}}%
                {% endif %}
            </td>
            <td>
                {% if score.score|null_checker == "NA"%}
                    <span class="badge rounded-pill bg-warning text-dark">Pending</span>
                {% else %}
                    <span class="badge rounded-pill bg-success">OK</span>
                {% endif %}
            </td>            
            <td>
                {% if score.activity.is_multiple_choice %}
                    <button type="button" 
                            class="btn btn-primary btn-sm"
                            onclick="window.open('{% url 'view-answer' score.activity.id %}','_blank')""
                    >
                        Review
                    </button>
                {% else %}
                    <span class="badge rounded-pill bg-success">N/A</span>
                {% endif %}
            </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
