{% extends "learn/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load custom_tags %}

<!-- Content block -->
{% block content %}
<section class="pt-4 pt-md-11 mb-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2">
        <!-- Image -->
        <img src="/media/welcome.jpg" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="Welcome Image">
      </div>
      <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">

        <!-- Heading -->
        <h1 class="display-1  text-md-start">
          Welcome to <span class="text-primary">IM</span>! <br>
        </h1>
        <h1  class="display-6 text-center text-md-start mt-5  text-muted">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
          </svg> Simple <br>
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
          </svg> Designed for the modern students<br>
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
          </svg> Online learning and teaching<br>
        </h1>
        <!-- Buttons -->
        <div class="text-center text-md-start mt-4">
          <a href="mailto:{{ None | admin_email_checker }}?subject=User Registration&body=I would like to have an account please." class="btn btn-primary shadow lift me-1">
            Request for an account
          </a>
        </div>

      </div>
    </div>
  </div> 
</section>

{% endblock content %}
<!-- Side Content -->
{% block sidecontent %}
<div class="container-fluid">
  <div class="card shadow mx-2 my-2">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <h1 class="display-6 text-center text-md-start mb-4"">
            Log In  
          </h1>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info text-end my-2" type="submit">Login</button>
        </div>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">
          Forgot password?
          <a class="ml-2" href="{% url 'password_reset' %}">here</a>
        </small>
      </div>
    </div>
  </div>
</div>
{% endblock sidecontent %}
