{% extends "learn/base.html" %}

{%  block layout %}
<div class="container-fluid text-center">
  <div class="col d-flex justify-content-center">
    <div class="card shadow">
      <div class="card-header">
        Logged Out
      </div>
      <div class="card-body">
        <h5 class="card-title">You have been logged out</h5>
        <p class="card-text">Curabitur aliquet quam id dui posuere blandit.</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Log In Again</a>
      </div>
    </div>
  </div>
</div>
{%  endblock layout %}
