{% extends "learn/base.html" %}
{% load crispy_forms_tags %}
{%  block layout %}
<div class="container-fluid text-center">
  <div class="col d-flex justify-content-center ">
    <div class="card shadow" style="width: 30rem;">
      <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form |crispy }}
            </fieldset>
            <div class="form-group mt-2">
                <button class="btn btn-primary" type="submit">Request Password Reset</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{%  endblock layout %}
