<div class="modal fade" id="modal-add-question">
    <form method="POST">
      {% csrf_token %}
      <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Add a new multiple question</h4>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            {{ form.non_field_errors }}
            <div class="mb-3 d-flex justify-content-center">
              {{ form.question.errors }}
              {{ form.question}}
            </div>
            {{ form.activity}}
            <hr>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              onclick="location.href='{% url 'create-activity'  activity.id %}'"
            >
              Add
            </button>
          </div>
        </div>
      </div>
    </form>
</div>